n8n-workflows/workflow-aluguel-salas-whatsapp.json
{
  "name": "BYLA - Aluguel salas WhatsApp",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [200, 280],
      "id": "aluguel-trigger-manual",
      "name": "Manual (testar agora)"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 8 1 * *"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [200, 420],
      "id": "aluguel-trigger-schedule",
      "name": "Agendado (1º do mês 8h)"
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://byla-backend.onrender.com/api/aluguel/resumo-whatsapp-auto",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {
          "timeout": 60000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [480, 340],
      "id": "aluguel-http-resumo",
      "name": "GET resumo-whatsapp-auto",
      "credentials": {
        "httpHeaderAuth": {
          "name": "BYLA Backend Sync"
        }
      },
      "notesInFlow": true,
      "notes": "Header X-Byla-Sync-Secret. Sem query = mês anterior (SP)."
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "enviar-wpp",
              "leftValue": "false",
              "rightValue": "true",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [720, 340],
      "id": "aluguel-if-enviar",
      "name": "Enviar WhatsApp?",
      "notesInFlow": true,
      "notes": "Deixe 'false' para só Log. Mude para 'true' só quando Evolution estiver configurado (sem $env — bloqueado neste n8n)."
    },
    {
      "parameters": {
        "jsCode": "const j = $input.first().json;\nreturn [{\n  json: {\n    periodo_label: j.periodo_label,\n    total_dias: j.total_dias,\n    total_reservas: j.total_reservas,\n    texto_preview: String(j.texto || '').slice(0, 500),\n    texto: j.texto,\n    gerado_em: j.gerado_em,\n    enviado: false\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [960, 220],
      "id": "aluguel-log-preview",
      "name": "Log (sem envio)"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://SEU-EVOLUTION/message/sendText/INSTANCE",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "COLE_A_API_KEY_AQUI"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"number\": \"5571999999999\",\n  \"text\": {{ JSON.stringify($json.texto) }}\n}",
        "options": {
          "timeout": 60000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [960, 460],
      "id": "aluguel-http-evolution",
      "name": "POST Evolution sendText",
      "notesInFlow": true,
      "notes": "Preencha URL/apikey/número fixos (sem $env). Só roda se o IF estiver com leftValue 'true'."
    }
  ],
  "connections": {
    "Manual (testar agora)": {
      "main": [[{ "node": "GET resumo-whatsapp-auto", "type": "main", "index": 0 }]]
    },
    "Agendado (1º do mês 8h)": {
      "main": [[{ "node": "GET resumo-whatsapp-auto", "type": "main", "index": 0 }]]
    },
    "GET resumo-whatsapp-auto": {
      "main": [[{ "node": "Enviar WhatsApp?", "type": "main", "index": 0 }]]
    },
    "Enviar WhatsApp?": {
      "main": [
        [{ "node": "POST Evolution sendText", "type": "main", "index": 0 }],
        [{ "node": "Log (sem envio)", "type": "main", "index": 0 }]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {
    "templateCredsSetupCompleted": false
  }
}
